@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Roboto:ital,wght@1,100&family=Yanone+Kaffeesatz:wght@300&display=swap');
body{
    box-sizing: border-box;
    background-color:rgb(187, 171, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#resultado{
    padding: 60px;
    margin-top: 10px;
    max-width: 800px;
    background-color:antiquewhite;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    box-shadow: 10px;
}
.title{
    color: #222;
    font-size: 40px;
    text-align: center;
}
.title2{
    font-size: 35px;
    color: #222;
    font-weight: bold;
}
.pesquisa{
    padding: 0;
    display: flex;
    border: none;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.button{
    background-color: #fff;
    border-radius: 4px;
    border: none;
    border-color: black;
    color: rgb(16, 12, 12);
    margin-top: 10px;
    max-width: 100px;
    padding: 5px;
    height: 40%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.button:hover{
    background-color: rgba(36, 35, 35, 0.77);
    color: #fff;
}